<html>
<head>
  <title>AMDb - Movies by Year</title>
</head>
<body>

    <h1>Atlassian Movie Database</h1>


    <h3>Browse your favorite movies.</h3>
    <p>
    <form>
        <input type="button" value="Go back!" onclick="history.back()">
    </form>
    </p>
    <p>In {{ year[0][1] }} the following movies have been released:</p>
    <table>
        <tr>
            <th>Name of the Movie</th>
            <th>Release Date</th>
            <th>Release ID</th>
        </tr>
      {% for movie in movies %}
      <tr>
         <td><b> <a href={{url_for('movie_details.movie_details', id= movie['id'])}}>{{movie["name"]}}</a></b></td>
         <td>{{ dates[movie["release_id"]-1]["release_date"] }}</td>
         <td>{{ movie["release_id"] }}</td>
      </tr>
      {% endfor %}
    </table>
    <p>
    <form>
        <input type="button" value="Go back!" onclick="history.back()">
    </form>
    </p>
</body>
</html>
