<html>
<head>
  <title>AMDb</title>
</head>
<body>
 
    <h1>Atlassian Movie Database</h1>
    
    
    <h3>Browse your favorite movies.</h3>
    <p>Look at the data in the other pages and fix errors as you find them</p>
    <p><a href={{ url_for('movies') }}>Movies</a> | <a href={{ url_for('years') }}>Years</a> |
        <a href={{ url_for('age_rating') }}>Age Rating</a></p>
    <p>This is a movie database, which is based on the dataset provided by Hamza Ansari on
        <a href="https://www.kaggle.com/hamzansariii/latest-popular-movies-dataset" id="kaggle">Kaggle</a>.
    </p>

    <p>See movies based on their release year:</p>



</body>
</html>