<html>
<head>
  <title>AMDb - Movie Overview</title>
</head>
<body>

    <h1>Atlassian Movie Database</h1>


    <h3>Browse your favorite movies.</h3>

    <p>
    <form>
        <input type="button" value="Go back!" onclick="history.back()">
    </form>
    </p>
    <table>
        <tr>
            <th>Name of the Movie</th>
            <th>Short Summary</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td><b> <a href={{ url_for('movie_details', id= row['id']) }}>{{row["name"]}}</a></b></td>
            <td>{{ row["overview"]}}</td>
        </tr>
        <tr></tr>
        {% endfor %}
    </table>
    <p>
      <form>
        <input type="button" value="Go back!" onclick="history.back()">
      </form>
    </p>

</body>
</html>